form{
    width: 500px;
    margin-left: 550px;
    margin-top: 50px;
}
label{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
input{
    width: 400px;
    margin-top: 20px;
    border-radius: 20px;
    font-size: 25px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}
button{
    margin-top: 20px;
    margin-left: 100px;
    width: 200px;
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    background-color: deepskyblue;
}